<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test maven suite">
    <test name="test maven Testing">
    <packages>
    <package name= "com.qa.test.*">
    </package>
    </packages>
    </test> 
<!--          <classes> -->
<!--              <class name="Googletest.GmailTest"/> -->
<!--              <class name="Googletest.MapsTest"/> -->
<!--              <class name="Googletest.ImagesTest"/> -->
<!--           </classes> -->
     <!-- Test -->
</suite> <!-- Suite -->